<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ShopMapper">
    <insert id="insert">
        insert into shop (productId, title, image, lprice, maker)
        values(#{productId}, #{title}, #{image}, #{lprice}, #{maker});
    </insert>
    <select id="check" resultType="int">
    	select count(*) from shop where productId = #{productId}
    </select>
</mapper>
